@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Estilo para el fondo de la página */
html, body {  
  background-color: #d6f3e0; /* Verde menta suave */
  background-image: linear-gradient(to top, #d6f3e0 0%, #e1f7f1 100%); /* Gradiente de verde menta a un verde más suave */
  background-size: cover;
  background-repeat: no-repeat;
  animation: color-change-2x 5s infinite alternate; /* Activar animación */
}

/* ---------------------------------------------- */
/* Animación para cambiar entre rosado y verde menta */
@-webkit-keyframes color-change-2x {
  0% {
      background: #d6f3e0; /* Verde menta suave */
  }

  100% {
      background: #f4b9cd; /* Rosado más cálido */
  }
}

@keyframes color-change-2x {
  0% {
      background: #d6f3e0; /* Verde menta suave */
  }

  100% {
      background: #f4b9cd; /* Rosado más cálido */
  }
}